.mat-sidenav-container {
    height: 100%;
    width: 100%;
  }
  .mat-drawer-container{
    background-color: transparent;
  }
  .mat-drawer{
    background-color: #56baed;
  }

  .toolbar-spacer {
    flex: 1 2 auto;
  }

