<div>
        <i class="fa fa-address-book"></i>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-circle-o"></i>
</div>

<div class="col-md-3">
        <div class="form-group">
                <label class="col-xs-3 control-label">Size</label>
                <div class="col-xs-5 selectContainer">
                    <select class="form-control" name="size">
                        <option value="">Choose a size</option>
                        <option value="s">Small (S)</option>
                        <option value="m">Medium (M)</option>
                        <option value="l">Large (L)</option>
                        <option value="xl">Extra large (XL)</option>
                    </select>
                </div>
            </div>
</div>
